<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" type="text/css" href="style.css">
<body>

    <!-- header -->
    <div id="navbar">
        <ul>
            <li>
                <!-- <img src="https://i.ibb.co/hdtjCjW/731985.png" width="15px"> -->
                <b>홈페이지명</b></li>
            <li>
                <form action="../back/sign_in_ok.php" method="post">
                    <input name="email" type="text">
                    <input name="password" type="password">
                    <button type="submit">in</button>
                    <a href="../back/sign_up.php">join</a>
                </form>
            </li>
            <li id="today">
                <p id="date"></p>
                <p id="dayNight"></p>
                <p id="time"></p>
            </li>
        </ul>
    </div>

    <!-- body -->
    <div id="container">
        
        <div class="folderout">
            <div class="folder">
                <div class="foldertop"></div>
                <div class="folderbox">
                    <div class="foldermain"></div>
                </div>
            </div>
            <div class="foldername">폴더명</div>
        </div>

        <div class="folderout">
            <div class="folder">
                <div class="foldertop"></div>
                <div class="folderbox">
                    <div class="foldermain"></div>
                </div>
            </div>
            <div class="foldername">폴더명</div>
        </div>

        <div class="folderout">
            <div class="folder">
                <div class="foldertop"></div>
                <div class="folderbox">
                    <div class="foldermain"></div>
                </div>
            </div>
            <div class="foldername">폴더명</div>
        </div>

        <div class="folderout">
            <div class="folder">
                <div class="foldertop"></div>
                <div class="folderbox">
                    <div class="foldermain"></div>
                </div>
            </div>
            <div class="foldername">폴더명</div>
        </div>

    <!-- footer -->
    <div id="dock_out">
        <div id="dock">

        </div>

    </div>
    

    <script src="script.js"></script>
</body>
</html>